.composition{
    position: relative;
    &__photo{
        width: 55%;
        box-shadow: 0 1.5rem 4rem rgba($color-black, .4);
        position: absolute;
        z-index: 5;
        transition: all 0.3s ease-in-out;
        &--p1{
            left: 0;
            top: -1rem;
        }
        &--p2{
            right: 0;
            top: 3rem;
        }
        &--p3{
            left: 20%;
            top: 10rem;
        }
        &:hover{
            transform: scale(1.5);
            z-index: 10;
        }

    }
}